@font-face {
    font-family: "cat";
    src: url(./font/YuWeiShuFaXingShuFanTi-1.ttf);
}
@font-face {
    font-family: "time";
    src: url(./font/MoMoLaoWuShouJi-0-2.ttf);
}
@font-face {
    font-family: "cnewyear";
    src: url(./font/MoMoSuiXiangTiXi-2.ttf);
}
@font-face {
    font-family: "chinese";
    src: url(./font/HanyiSentySpringBrush.ttf);
}
@font-face {
    font-family: "english";
    src: url(./font/Staatliches-Regular.ttf);
}
@font-face {
    font-family: "normalc";
    src: url(./font/HanyiSentyChalk2018.ttf);
}